<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>articles.plnnr.net</title>
</head>
<body>
    <div class="container-fluid">
        <form action="/results" method="POST">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input name="searchfield" class="form-control" type="text" placeholder="Search for a topic here...">
                        <span class="input-group-btn">
                            <button name="searchbutton" class="btn btn-default" type="submit">Search</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>
</body>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</html>